section.confusion 
  h1.confusion__title  
   | Oops!
  p.confusion__paragraph
   | A página que você está procurando não pode ser encontrada.
  img.confusion__backimg(src="/assets/img/back404.png", alt="background image")
  img.confusion__people(src="/assets/img/people.png", alt="background image")
  a.confusion__bta(href='/' alt="voltar para pagina principal") Voltar para homepage 