section.features
  ul.features__delivery
    li.features__item
      .features__backicons
        img.features__backicons--simbols(alt="Planejamento com alto profissionalismo." src='/assets/svg/plan.svg')
      .features__text Planejamento com alto profissionalismo.
    li.features__item
      .features__backicons
        img.features__backicons--simbols(alt="Construção de qualidade do início ao fim." src='/assets/svg/verific.svg')
      .features__text Construção de qualidade do início ao fim.
    li.features__item
      .features__backicons
        img.features__backicons--simbols(alt="Entregas eficientes e seguras." src='/assets/svg/building.svg')
      .features__text Entregas eficientes e seguras.
