section.features
  ul.features__delivery
    li.features__item
      .features__backicons
        img.features__backicons--simbols(src='/assets/svg/plan.svg')
      .features__text Planejamento com alto profissionalismo
    li.features__item
      .features__backicons
        img.features__backicons--simbols(src='/assets/svg/verific.svg')
      .features__text Construção de qualidade do início ao fim.
    li.features__item
      .features__backicons
        img.features__backicons--simbols(src='/assets/svg/building.svg')
      .features__text Entregas eficientes e seguras.