footer.contacts-footer
  img.icon-logo(src="/assets/svg/logo_rodape.svg")
  .contacts-footer-infos
    .list
      h2
        b Institucional
      ul
        li
          a(href='/') Home
        li
          a(href='/') Quem somos
        li
          a(href='/') Serviços
        li
          a(href='/') Contatos
    .list
      h2
        b Serviços
      ul
        li
          a(href='/') Projetos
        li
          a(href='/') Retrofit
        li
          a(href='/') Reformas
        li
          a(href='/') Laudos
        li
          a(href='/') Consultoria
    .list
      h2
          b Contatos
      ul
        li
          a(href='/')
            img(src="/assets/svg/whatsapp.svg")
            | (65) 9.8136-9818
        li
          a(href='/')
            img(src="/assets/svg/gmail.svg")
            | forteengenharia.cjp@gmail.com
        li
          a(href='https://www.instagram.com/forte.eng/')
            img(src="/assets/svg/instagram.svg")
            | @forte.eng
        li
          a(href='https://goo.gl/maps/ELJ9bbKz3C8F4k9MA')
            img(src="/assets/svg/maps.svg")
            | Rua Costa Rica, nº 13. Q.04, Cristo Rei/VG
