footer.contacts
  img.contacts__logo(src="/assets/svg/logo_rodape.svg")
  .contacts__information
    ul.contacts__list
      li.contacts__headtitle
        strong Institucional
      li.contacts__roll
        a.contacts__link(href='/') Home
      li.contacts__roll
        a.contacts__link(href='/') Quem somos
      li.contacts__roll
        a.contacts__link(href='/') Serviços
      li.contacts__roll
        a.contacts__link(href='/') Contatos
    ul.contacts__list
      li.contacts__headtitle
        strong Serviços
      li.contacts__roll
        a.contacts__link(href='/') Projetos
      li.contacts__roll
        a.contacts__link(href='/') Retrofit
      li.contacts__roll
        a.contacts__link(href='/') Reformas
      li.contacts__roll
        a.contacts__link(href='/') Laudos
      li.contacts__roll
        a.contacts__link(href='/') Consultoria
    ul.contacts__list
      li.contacts__headtitle
        strong Contatos
      li.contacts__roll
        a.contacts__link.contacts__link--line(href='/')
          img.contacts__frame(src="/assets/svg/number.svg")
          | (65) 9.8136-9818
      li.contacts__roll
        a.contacts__link.contacts__link--line(href='/')
          img.contacts__frame(src="/assets/svg/email.svg")
          | forteengenharia.cjp@gmail.com
      li.contacts__roll
        a.contacts__link.contacts__link--line(href='https://www.instagram.com/forte.eng/')
          img.contacts__frame(src="/assets/svg/insta.svg")
          | @forte.eng
      li.contacts__roll
        a.contacts__link.contacts__link--line(href='https://goo.gl/maps/ELJ9bbKz3C8F4k9MA')
          img.contacts__frame(src="/assets/svg/localization.svg")
          | Rua Costa Rica, nº 13. Q.04, Cristo Rei/VG
