header
  nav
    a(href='/')
      img.logo(src='/assets/svg/logo.svg')
    .mobile-menu
      .line1
      .line2
      .line3
    ul.nav-list
      li
        a.home(href='/') Home
      li
        a.same(href='/') Quem somos
      li
        a.same(href='/') Serviços
      li
        a.contact(href='/') Contato
