header.header
  .header__holder
    a.header__logo(href='/')
      img.header__img(alt='Logo' src='/assets/svg/logo.svg')
    .header__mobile-menu.mobile-menu
      .line1.header__menu-line
      .line2.header__menu-line
      .line3.header__menu-line
    ul.header__list.nav-list
      li.header__item
        a.header__link(href='/') Home
      li.header__item
        a.header__link(href='/about') Quem somos
      li.header__item
        a.header__link(href='/services') Serviços
      li.header__item
        a.header__link.header__link--cta(href='https://wa.me/5565981369818' target='_blank') Contato
