section.hero
  include /components/header.pug
  .hero__block
    h1.hero__title Somos a #{''}
      strong.hero__title.hero__title--bold Forte Engenharia
    p.hero__copy 
      | Obra ou projeto? Nós oferecemos soluções personalizadas com excelência!
    a#hero__direction.hero__direction(alt="seta" href="#features")
      .hero__arrow
      .hero__arrow
      .hero__arrow