section.hero
  include /components/header.pug
  .hero__block
    h1.hero__title 
      | !{global.filters.html(collections.pages['pagina-inicial'].titulo)}
    p.hero__copy 
      | #{collections.pages['pagina-inicial'].subtitulo}
    a#hero__direction.hero__direction(alt="seta" href="#features")
      .hero__arrow
      .hero__arrow
      .hero__arrow