section.hero
  include /components/header.pug
  .hero__block
    h1.hero__title Somos a #{''}
      strong.hero__title.hero__title--bold Forte Engenharia
    p.hero__copy Atendemos seu condomínio com qualidade e profissionalismo durante todas fases da sua reforma.
    a.hero__direction(alt="seta" href="../components/features.pug.")
      .hero__arrow
      .hero__arrow
      .hero__arrow