section.journey
  h3.journey__title 
    strong Nossa História
  p.journey__subtitle 
    |  Marcada por grandes transformações e momentos únicos, a #{''} 
    strong Forte Engenharia 
    |  continua crescendo e inovando para melhor atendê-los!
  .journey__timeline
    .journey__component
    .journey__middle.journey__middle--start
      .journey__point.journey__point--first
    .journey__component.journey__component--bg
      h2.journey__time.journey__time--right 2016
      p.journey__paragraph.journey__paragraph--right
        | De uma ideia nasce a Forte Engenharia.
    .journey__component.journey__component--bg
      h2.journey__time.journey__time--left 2017
      p.journey__paragraph.journey__paragraph--left
        | Atendimento à Shoppings.
    .journey__middle
      .journey__point
    .journey__component
    .journey__component
    .journey__middle
      .journey__point
    .journey__component.journey__component--bg
      h2.journey__time.journey__time--right 2019
      p.journey__paragraph.journey__paragraph--right
        | Foco em condomínios residenciais.
    .journey__component.journey__component--bottom.journey__component--bg
      h2.journey__time.journey__time--left 2020
      p.journey__paragraph.journey__paragraph--left
        | Abertura de escritório físico.
    .journey__middle
      .journey__point
    .journey__component.journey__component--bottom
  .journey__timeline.journey__timeline--junction
    .journey__component
    .journey__middle
      .journey__point
    .journey__component.journey__component--bg
      h2.journey__time.journey__time--right 2021
      p.journey__paragraph.journey__paragraph--right
        | Especialização em projetos e atendimento condominal.
    .journey__component.journey__component--bg
      h2.journey__time.journey__time--left 2022
      p.journey__paragraph.journey__paragraph--left
        | Iniciamos na área de reformas para casa de alto padrão.
    .journey__middle
      .journey__point
    .journey__component
    .journey__component
    .journey__middle.journey__middle--end
      .journey__point
    .journey__component.journey__component--bg
      h2.journey__time.journey__time--right 2023
      p.journey__paragraph.journey__paragraph--right
        | Atender você!
    .journey__component.journey__component--bottom.journey__component--bg

    
    
