section.journey
  h3.journey__title 
    strong Nossa História
  p.journey__subtitle 
    |  Marcada por grandes transformações e momentos únicos, a #{''} 
    strong Forte Engenharia 
    |  continua crescendo e inovando para melhor atendê-los! 
  .journey__line
  .journey__slider.js-carousel--story
    .journey__date
      h4.journey__time 2016
      p.journey__but Fundação da empresa 
    .journey__date
      h4.journey__time 2017
      p.journey__but Atendimento à Shoppings
    .journey__date
      h4.journey__time 2019
      p.journey__but Foco em condomínios residencias
    .journey__date
      h4.journey__time 2020
      p.journey__but Abertura de escritório físico
    .journey__date
      h4.journey__time 2021
      p.journey__but Especialização em projetos e atendimento condominial
    .journey__date
      h4.journey__time 2022
      p.journey__but 
        strong Atender você!
  button.journey__btn.js-carousel--story-prev(aria-label='Anterior')
    img.journey__frame(src="/assets/svg/arrowright.svg" alt="Seta para esquerda" loading="lazy")
  button.journey__btn.js-carousel--story-next(aria-label='Próximo')
    img.journey__frame(src="/assets/svg/arrowleft.svg" alt="Seta para direita" loading="lazy")
  .journey__circle.js-carousel--story-dots(role='tablist')