section.journey
  h3.journey__title 
    strong Nossa História
  .journey__slider.js-carousel--storystory
    .journey__date
      h4.journey__time 2016
      img(src="/assets/svg/rocket.svg").journey__frame
      p.journey__but Fundação da empresa 
    .journey__date
      h4.journey__time 2017
      img(src="/assets/svg/shopping.svg").journey__frame
      p.journey__but Atendimento à Shoppings
    .journey__date
      h4.journey__time 2019
      img(src="/assets/svg/apartment.svg").journey__frame
      p.journey__but Foco em condomínios residencias
    .journey__date
      h4.journey__time 2020
      img(src="/assets/svg/office.svg").journey__frame
      p.journey__but Abertura de escritório físico
    .journey__date
      h4.journey__time 2021
      img(src="/assets/svg/people.svg").journey__frame
      p.journey__but Especialização em projetos e atendimento condominial
    .journey__date
      h4.journey__time 2022
      img(src="/assets/svg/hand.svg").journey__frame
      p.journey__but 
        strong Atender você!
    button.js-carousel--story-prev(aria-label='Anterior')
    button.js-carousel--story-next(aria-label='Próximo')
    .js-carousel--story-dots(role='tablist')