section.journey
  h3.journey__title 
    strong Nossa História
  .journey__slider.js-carousel--story
    .journey__date
      h4.journey__time 2016
      img.journey__frame(src="/assets/svg/rocket.svg" loading="lazy")
      p.journey__but Fundação da empresa 
    .journey__date
      h4.journey__time 2017
      img.journey__frame(src="/assets/svg/shopping.svg" loading="lazy")
      p.journey__but Atendimento à Shoppings
    .journey__date
      h4.journey__time 2019
      img.journey__frame(src="/assets/svg/apartment.svg" loading="lazy")
      p.journey__but Foco em condomínios residencias
    .journey__date
      h4.journey__time 2020
      img.journey__frame(src="/assets/svg/office.svg" loading="lazy")
      p.journey__but Abertura de escritório físico
    .journey__date
      h4.journey__time 2021
      img.journey__frame(src="/assets/svg/people.svg" loading="lazy")
      p.journey__but Especialização em projetos e atendimento condominial
    .journey__date
      h4.journey__time 2022
      img.journey__frame(src="/assets/svg/hand.svg" loading="lazy")
      p.journey__but 
        strong Atender você!
  button.journey__btn.js-carousel--story-prev(aria-label='Anterior')
  button.journey__btn.js-carousel--story-next(aria-label='Próximo')
  .journey__circle.js-carousel--story-dots(role='tablist')