section.journey
  include /components/journey_component.pug
  include /components/journey_middle.pug
  h3.journey__title 
    strong Nossa História
  .journey__subtitle
    | !{global.filters.html(collections.pages.sobre.historiaSubtitulo)}
  .journey__timeline
    each timelineYear, idx in timelines.data.sort((a, b) => a.attributes.ano - b.attributes.ano)
      if idx % 2 === 0
        +journey_component(null)
        if idx === 0
          +journey_middle("first")
        else if idx === timelines.data.length - 1
          +journey_middle("end")
        else
          +journey_middle()
        +journey_component(timelineYear.attributes, idx % 2 === 0 ? 'right' : 'left')
      else
        +journey_component(timelineYear.attributes, idx % 2 === 0 ? 'right' : 'left')
        if idx === 0
          +journey_middle("first")
        else if idx === timelines.data.length - 1
          +journey_middle("end")
        else
          +journey_middle()
        +journey_component(null)
      
