section.mission
    .mission__legacy
      h3.mission__text
        b Nossa Missão 
      p.mission__message Ser empresa referência no atendimento a condomínios, oferecendo soluções criativas,eficientes e seguras.
    .mission__legacy
      h3.mission__text 
        b Nossos Valores
      p.mission__message Integridade, honestidade e profissionalismo.
    .mission__legacy
      h3.mission__text 
        b Nossa Visão
      p.mission__message Construir relacionamento positivos e de longo prazo com nossos clientes criando um vínculo baseados na confiança e no respeito.