section.mission
  .mission__glider.js-carousel--text
    .mission__slider
      h3.mission__text
        b Nossa Missão 
      p.mission__message Ser empresa referência no atendimento a condomínios,oferecendo soluções criativas,eficientes e seguras.
    .mission__slider
      h3.mission__text 
        b Nossos Valores
      p.mission__message Integridade, honestidade e profissionalismo.
    .mission__slider
      h3.mission__text 
        b Nossa Visão
      p.mission__message Construir relacionamento positivos e de longo prazo com nossos clientes criando um vínculo baseados na confiança e no respeito.
    button.js-carousel--text-prev(aria-label="Anterior")
    button.js-carousel--text-next(aria-label="Proximo")
    .js-carousel--text-dots(role='tablist')