section.office
  include /components/header.pug
  .office__blocks
    h1.office__titles 
      strong #{collections.pages['servicos-pagina'].titulo}
section.box
  .box__say
    | !{global.filters.html(collections.pages['servicos-pagina'].subtitulo)}