section.office
  include /components/header.pug
  .office__blocks
    h1.office__titles 
      strong Serviços
section.box
  p.box__say
   | Bem-vindo à 
   strong Forte Engenharia! 
   | Somos especialistas em atendimento condominial, execução de obras, projetos, laudos, inspeções prediais e retrofit. 
   br
   br
   | Se você precisa de soluções confiáveis e de qualidade para seu condomínio ou edifício, entre em contato conosco. Não perca mais tempo e garanta já sua avaliação!