section.schedule
  h2.schedule__heading !{global.filters.html(collections.pages['contato-secao'].titulo)}
  a.schedule__bta(href=collections.pages.contato.whatsappLink target='_blank') #{collections.pages['contato-secao'].botaoTexto}
