.carousel_overlay(onclick=`clickOutsideCarousel()`)
  .carousel_wrapper
      .carousel_container.splide
        .close_btn#close(onclick=`toggleCarousel()`) X
        h2.carousel_service_title 
        .service_glide.splide__track
          ul.service_photos.splide__list
            