section.show
  h2.show__titles 
    strong Nossas Especialidades
  .show__same
    h3 PROJETOS
    img.show__pic(src="/assets/img/projetos.png")
    a.show__btn Saiba mais
  .show__same
    img.show__pic(src="/assets/img/retrofit.png")
    h3 RETROFIT
    a.show__btn Saiba mais
  .show__same
    img.show__pic(src="/assets/img/reforma.png")
    h3 REFORMAS
    a.show__btn Saiba mais
  .show__same
    img.show__pic(src="/assets/img/laudos.png")
    h3 LAUDOS DE INSPEÇÃO PREDIAL
    a.show__btn Saiba mais
  .show__same
    img.show__pic(src="/assets/img/consultoria.png")
    h3 CONSULTORIA PARA SÍNDICOS
    a.show__btn Saiba mais