section.show
  .show__edit
    .show__same
      img.show__pic(src="/assets/img/projetos.png" loading="lazy")
      h3.show__subtitle
        strong PROJETOS
      p.show__indent Confira nossos projetos realizados.
      .show__text.show__text--down
        h3.show__othertitle
          strong PROJETOS
        p.show__elsep
         | O projeto é um conjunto de processos de produção da construção civil que visa atingir um objetivo específico com prazos e custos definidos. Ele deve nortear a realização da obra desde o momento em que ela ainda está no papel e as primeiras decisões estão sendo tomadas.
    .show__same
      img.show__pic(src="/assets/img/retrofit.png" loading="lazy")
      h3.show__subtitle
        strong RETROFIT
      p.show__indent Confira nossos projetos de Retrofit realizados.
      .show__text
        h3.show__othertitle
          strong RETROFIT
        p.show__elsep
         | Retrofit significa colocar o antigo em forma, e é exatamente isso que a técnica faz. Os prédios antigos são reformados e condicionados aos tempos de hoje, se tornando edificações mais completas e adequadas.
    .show__same
      img.show__pic(src="/assets/img/reforma.png" loading="lazy")
      h3.show__subtitle
        strong REFORMAS
      p.show__indent Confira nossos projetos de Reforma realizados.
      .show__text
        h3.show__othertitle
          strong REFORMAS
        p.show__elsep
         | A reforma costuma ser uma iniciativa ou um projeto que procura implantar uma inovação ou conseguir uma melhoria nalgum sistema ou numa estrutura.
    .show__same
      img.show__pic(src="/assets/img/laudos.png" loading="lazy")
      h3.show__subtitle
        strong LAUDOS DE INSPEÇÃO PREDIAL
      p.show__indent O que é laudo de inspeção predial? 
      .show__text.show__text--up
        h3.show__othertitle
          strong LAUDOS DE INSPEÇÃO PREDIAL
        p.show__elsep
         | O Laudo de Inspeção Predial visa entregar ao cliente documentação legal para fins extrajudiciais ou judiciais que demonstre da forma mais técnica e detalhada possível as condições dos sistemas construtivos e instalações de edificações residenciais, comerciais e industriais para fins de manutenções prediais.
    .show__same.show__samecenter
      img.show__pic(src="/assets/img/consultoria.png" loading="lazy")
      h3.show__subtitle
        strong CONSULTORIA PARA SÍNDICOS
      p.show__indent Como funciona a Consultoria para Síndicos?
      .show__text
        h3.show__othertitle 
          strong CONSULTORIA PARA SÍNDICOS
        p.show__elsep
         | A consultoria condominial é uma forma de potencializar os serviços prestados pelo síndico do condomínio, garantindo máxima eficiência na gestão de finanças, de documentos, de questões legais, entre outras atividades.
