section.show
  .show__edit
    .show__same
      img.show__pic(src="/assets/img/projetos.png" loading="lazy")
      h3.show__subtitle
        strong PROJETOS
      p.show__indent Confira nossos projetos realizados.
      .show__text.show__text--down
        h3.show__othertitle
          strong PROJETOS
        p.show__elsep
          | Na engenharia civil, a chave para uma obra bem-sucedida começa com um planejamento detalhado e minucioso. 
        p.show__elsep    
          | Nós oferecemos soluções personalizadas e inovadoras que ajudam a tornar seus projetos uma realidade. Deixe-nos ajudá-lo a construir com confiança e segurança. 
        p.show__elsep 
          | Entre em contato conosco hoje mesmo e comece seu projeto com o pé direito!
    .show__same
      img.show__pic(src="/assets/img/retrofit.png" loading="lazy")
      h3.show__subtitle
        strong RETROFIT
      p.show__indent Confira nossos projetos de Retrofit realizados.
      .show__text
        h3.show__othertitle
          strong RETROFIT
        p.show__elsep
          | Nossos serviços de retrofit podem trazer uma nova vida à fachada do seu prédio. Transforme-o em um ícone arquitetônico e valorize seu empreendimento. 
        p.show__elsep
          | Entre em contato agora mesmo para saber mais!
    .show__same
      img.show__pic(src="/assets/img/reforma.png" loading="lazy")
      h3.show__subtitle
        strong REFORMAS
      p.show__indent Confira nossos projetos de Reforma realizados.
      .show__text
        h3.show__othertitle
          strong REFORMAS
        p.show__elsep
          | Garantimos soluções inovadoras e personalizadas, concluídas dentro do prazo e do orçamento. 
        p.show__elsep
          | Entre em contato agora e deixe-nos fazer a transformação da sua casa acontecer!
    .show__same
      img.show__pic(src="/assets/img/laudos.png" loading="lazy")
      h3.show__subtitle
        strong LAUDOS DE INSPEÇÃO PREDIAL
      p.show__indent O que é laudo de inspeção predial? 
      .show__text.show__text--up
        h3.show__othertitle
          strong LAUDOS DE INSPEÇÃO PREDIAL
        p.show__elsep
          | O laudo de inspeção predial é um documento obrigatório por lei que garante a segurança e valoriza o empreendimento. 
        p.show__elsep
          | Obtenha um laudo preciso e detalhado com nossos serviços de inspeção predial. Evite surpresas desagradáveis e reduza os riscos de acidentes. 
        p.show__elsep
          | Entre em contato agora e garanta a segurança dos moradores do seu edifício.
    .show__same.show__samecenter
      img.show__pic(src="/assets/img/consultoria.png" loading="lazy")
      h3.show__subtitle
        strong CONSULTORIA PARA SÍNDICOS
      p.show__indent Como funciona a Consultoria para Síndicos?
      .show__text
        h3.show__othertitle 
          strong CONSULTORIA PARA SÍNDICOS
        p.show__elsep
          | Conte com nossa consultoria para síndicos e tenha expertise técnica para orientar e garantir a qualidade das obras. Não se arrisque com pessoas não qualificadas. 
        p.show__elsep
          | Entre em contato agora e tenha tranquilidade durante as reformas
