section.show
  h2.show__titles 
    strong Nossas Especialidades
  .show__edit
    .show__same
      img.show__pic(src="/assets/img/projetos.png" loading="lazy")
      h3.show__subtitle
        strong PROJETOS
      a.show__btn(href='/') Saiba mais
    .show__same
      img.show__pic(src="/assets/img/retrofit.png" loading="lazy")
      h3.show__subtitle
        strong RETROFIT
      a.show__btn(href='/') Saiba mais
    .show__same
      img.show__pic(src="/assets/img/reforma.png" loading="lazy")
      h3.show__subtitle
        strong REFORMAS
      a.show__btn(href='/') Saiba mais
    .show__same
      img.show__pic(src="/assets/img/laudos.png" loading="lazy")
      h3.show__subtitle
        strong LAUDOS DE INSPEÇÃO PREDIAL
      a.show__btn(href='/') Saiba mais
    .show__same
      img.show__pic(src="/assets/img/consultoria.png" loading="lazy")
      h3.show__subtitle
        strong CONSULTORIA PARA SÍNDICOS
      a.show__btn(href='/') Saiba mais