section.talks
  include /components/header.pug
  h1.talks__title Quem somos
section.box
  p.box__say
    | Somos uma empresa especializada em 
    strong atendimento condominial
    | , trabalhando com consultorias para síndicos, laudos de inspeção predial, laudos de manifestações patológicas, gestão da manutenção revitalização de fachadas e retrofit, englobando desde a fase de projetos o planejamento até a fase de construção e entrega.
    br
    br
    | Uma empresa que busca atender os seus clientes com o maior grau de qualidade e profissionalismo.
