section.work
  h2.work__title
    strong Nossos Serviços
  .work__services.js-carousel--dual
    
  button.js-carousel--dual-prev(aria-label='Anterior')
  button.js-carousel--dual-next(aria-label='Próximo')
  .js-carousel--dual-dots(role='tablist')