section.work
  h2.work__title
    strong Nossos Serviços
  .work__services.js-carousel--dual
    a.work__back.work__back--projetos(arial-label='Projetos' href='/services' loading="lazy") 
      h3.work__text PROJETOS
    a.work__back.work__back--retrofit(arial-label='Retrofit' href='/services' loading="lazy")
      h3.work__text RETROFIT
    a.work__back.work__back--reforma(arial-label='Reforma' href='/services' loading="lazy")
      h3.work__text REFORMA
    a.work__back.work__back--laudos(arial-label='Laudos de inspeção predial' href='/services' loading="lazy")
      h3.work__text LAUDOS DE INSPEÇÃO PREDIAL
    a.work__back.work__back--consultoria(arial-label='Consultoria para síndicos' href='/services' loading="lazy")
      h3.work__text CONSULTORIA PARA SÍNDICOS
  button.js-carousel--dual-prev(aria-label='Anterior')
  button.js-carousel--dual-next(aria-label='Próximo')
  .js-carousel--dual-dots(role='tablist')