section.work
  h2.work__title
    strong Nossos Serviços
  .work__services.js-carousel--dual
    .work__list
      a.work__back(href='/') 
        img.work__photo(src="/assets/img/projetos.png")
        h5.work__tex PROJETOS
    .work__list
      a.work__back(href='/')
        img.work__photo(src="/assets/img/retrofit.png")
        h5.work__tex RETROFIT
    .work__list
      a.work__back(href='/')
        img.work__photo(src="/assets/img/reforma.png")
        h5.work__tex REFORMA
    .work__list
      a.work__back(href='/')
        img.work__photo(src="/assets/img/laudos.png")
        h5.work__tex LAUDOS DE INSPEÇÃO PREDIAL
    .work__list
      a.work__back(href='/')
        img.work__photo(src="/assets/img/consultoria.png")
        h5.work__tex CONSULTORIA PARA SÍNDICOS
  button.js-carousel--dual-prev(aria-label='Anterior')
  button.js-carousel--dual-next(aria-label='Próximo')
  .js-carousel--dual-dots(role='tablist')