.client{ 
  background-color: $rockcolor;
  position: relative;
  overflow-x: clip;
  
  &::before{
    background-color: $rockcolor;
    content: '';
    background-position: bottom;
    position: absolute;
    transform: rotate(8deg);
    z-index: 1;
    display: block;
    bottom: -80px;
    left: 0;
    height: 150px;
    width: 113%;

    @media (min-width:781px) {
      bottom: -270px;
      left: -20%;
      height: 400px;
      width: 160%;
    }

    @media (min-width:2000px){
      bottom: -320px;
      left: -20%;
      height: 710px;
      width: 130%;
      transform: rotate(6deg);
    }
  }

  &__title{
    font-weight: 700;
    text-align: center;
    color: $primarycolor;
    font-family: $textrel;

    @media (min-width: 781px) {
      font-size: 60px;
      line-height: 70px;
      padding: 80px 0;
    }
    
    @media (max-width: 780px) {
      font-size: 30px;
      line-height: 35px;
      padding-top: 40px;
    }
  }

  &__par {
    font-weight: 400;
    font-family: $textrel;
    text-align: center;
    padding: 20px 0 0;
    color: $primarycolor;

    @media (min-width: 781px){
      font-size: 32px;
      line-height: 38px;
    }
    
    @media (max-width: 780px){
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__headline {
    font-weight: 400;
    font-family: $textrel;
    text-align: center;
    padding-top: 45px;
    color: $primarycolor;

    @media (min-width: 781px){
      font-size: 42px;
      line-height: 48px;
    }

    @media (max-width: 780px){
      font-size: 21px;
      line-height: 24px;
    }
  }

  &__slider {
    width: 1024px;
    height: 500px;
    border-radius: 10px;
    position: relative;
  }
  
  &__slides {
    width: 500%;
    display: flex;

    @media (max-width: 800px){
      height: 550px;
    }

    @media (min-width:801){
      height: 800px;
    }
  }
  
  &__slides input {
    display: none;
  }
  
  &__slide {
    width: 20%;
    transition: 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  &__slide .client__picture {
    width: 315px;
    height: 250px;
    
    
    @media (min-width: 800px){
      width: 450px;
      height: 300px;
    }
    @media (min-width: 1070px){
      width: 1024px;
      height: 500px;
    }
    @media (min-width: 2000px){
      width: 1700px;
      height: 800px;
    }
  }

  &__navigation-manual {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;

    @media (min-width:781px){
      bottom: -55px;
    }

    @media (max-width: 780px){
      bottom: 15px;
    }
  }

  &__manual-btn {
    background-color: $dotsclient;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
    z-index: 1000;

    @media (min-width: 781px){
      width: 24px;
      height: 24px;
    }

    @media (max-width: 780px){
      width: 20px;
      height: 20px;
    }
    
    &:not(:last-child) {
      margin-right: 40px;
    }
    
    &:hover {
      background-color: $primarycolor;
    }
  }
  

  #radio1:checked ~ .first {
    margin-left: 0;
  }
  #radio2:checked ~ .first {
    margin-left: -20%;
  }
  #radio3:checked ~ .first {
    margin-left: -40%;
  }
  #radio4:checked ~ .first {
    margin-left: -60%;
  }

  &__navigation-auto {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    
    @media (min-width:781px){
      bottom: -55px;
    }

    @media (max-width: 780px){
      bottom: 15px;
    }
  }
  
  &__navigation-auto .client__auto-btn {
    border-radius: 50%;

    @media (min-width: 781px){
      width: 24px;
      height: 24px;
    }

    @media (max-width: 780px){
      width: 20px;
      height: 20px;
    }

    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  
  #radio-btn1:checked ~ .client__navigation-auto, .client__auto-btn1 {
    background-color: $primarycolor;
  }
  
  #radio-btn2:checked ~ .client__navigation-auto, .client__auto-btn2 {
    background-color: $primarycolor;
  }
  
  #radio-btn3:checked ~ .client__navigation-auto, .client__uto-btn3 {
    background-color: $primarycolor;
  }
  
  #radio-btn4:checked ~ .client__navigation-auto, .client__auto-btn4 {
    background-color: $primarycolor;
  }
} 
