.client{
  background-color: $rockcolor;
  min-height: 100vh;
  margin: auto;
  position: relative;
  overflow-x: clip;

  @media (max-width: 780px){
    min-height: 60vh;
  }
  
  &::before{
    background-color: $rockcolor;
    content: '';
    background-position: bottom;
    position: absolute;
    bottom: -250px;
    left: -145px;
    height: 52vh;
    width: 120%;
    transform: rotate(16deg);
    z-index: 1;

    @media (min-width:780px) and (max-width:1200px){
      width: 150%;
 
    }
    
    @media (max-width: 780px){
      bottom: -116px;
      left: 0;
      height: 25vh;
      width: 113%;
    }
  }

  &__title{
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: $primarycolor;
    font-family: $textrel;
    padding: 80px 0;


    @media (max-width: 780px) {
      font-size: 30px;
      line-height: 35px;
    }
  }

  &__list{
    color: $primarycolor;
    z-index: 1;
  }

  &__building{
    text-align: center;
  }

  &__headline {
    font-weight: 400;
    font-size: 42px;
    line-height: 48px;
    font-family: $textdom;
    text-align: center;
    padding-top: 25px;

    @media (max-width: 780px){
      font-size: 21px;
      line-height: 24px;
    }
  }

  &__picture {
    height: 400px;
    width: 1000px;

    @media (max-width: 780px){
      height: 200px;
      width: 500px;
    }
  }

  &__par {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    font-family: $textrel;
    text-align: center;
    padding: 20px 0;
    @media (max-width: 780px){
      font-size: 16px;
      line-height: 19px;
    }
  }

}

.js-carousel--simple-prev, .js-carousel--simple-next{
  display: none;
}

.js-carousel--simple-dots{
  color: $primarycolor;
}

.glider-dot{
  z-index: 1;
  width: 24px;
  height: 24px;
  background: #585868;
  color: $primarycolor;
  @media (max-width: 780px){
    width: 12px;
    height: 12px;
  }
}
