$primarycolor: #FFFFFF;
$titlecolor: #000000;
$lightblue: #046ED033;
$bluecolor: #046ED0;
$darkblue: #3C64A3;
$rockcolor: #2A2E49;
$backrockcolor: #2A2E49B2;
$textdom: 'Domine', sans-serif;
$textrel: 'Raleway', sans-serif;
$colorbox: 0px 4px 4px rgba(0, 0, 0, 0.25);
$colorbackser:rgba(42, 46, 73, 0.7);