$primarycolor: #FFFFFF;
$titlecolor: #000000;
$lightblue: #046ED033;
$bluecolor: #046ED0;
$darkblue: #1C427E;
$rockcolor: #2A2E49;
$backrockcolor: #2A2E49B2;
$textrel: 'Raleway', sans-serif;
$colorbox: 0px 4px 4px rgba(0, 0, 0, 0.25);
$colorbackser:rgba(42, 46, 73, 0.7);
$colorjourney:#2D4C7C;
$backjourney: #B3B2B2;
$dotsjourney:rgba(4, 110, 208, 0.5);
$dotsclient: #585868;
$colormiddle: #B3B2B2;