.confusion{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  height: 100vh;

  &__title{
    font-family: $textrel;
    font-weight: 700;
    color: $colorjourney;

    @media (max-width: 780px) {
      font-size: 40px;
      line-height: 45px;
    }
    @media (min-width: 781px){
      font-size: 60px;
      line-height: 71px;
    }

    @media (min-width: 1920px){
      font-size: 90px;
      line-height: 100px;
    }
  }

  &__paragraph{
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
    font-family: $textrel;

    @media (max-width: 780px) {
      font-size: 18px;
      line-height: 21px;
    }
    @media (min-width: 781px){
      font-size: 23px;
      line-height: 27px;
    }

    @media (min-width: 1920px){
      font-size: 40px;
      line-height: 48px;
    }
  }

  &__backimg{
    margin-top: 20px;
    position: relative;

    @media (max-width: 780px) {
      height: 250px;
    }
    @media (min-width: 781px){
      height: 400px;
    }

    @media (min-width: 1920px){
      height: 800px;
    }
  } 

  &__people{
    position: absolute;

    @media (max-width: 780px) {
      width: 410px;
      height: 248px;
    }
    @media (min-width: 781px){
      width: 610px;
      height: 348px;
    }

    @media (min-width: 1920px){
      width: 1010px;
      height: 648px;
    }
  }

  &__bta {
    background: $bluecolor;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    gap: 10px;
    font-family: $textrel;
    font-style: normal;
    font-weight: 700;
    margin-top: 50px;
    text-decoration: none;
    color: $primarycolor;
    text-align: center;

    @media (max-width: 780px) {
      font-size: 15px;
      line-height: 18px;
    }
    @media (min-width: 781px){
      font-size: 20px;
      line-height: 23px;
    }

    @media (min-width: 1920px){
      font-size: 30px;
      line-height: 38px;
    }

    &:hover {
      opacity: 0.7;
      transition: 0.3s;
    }
  }
}