.features{
  background: $primarycolor;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px 0;

  &__delivery {
    display: flex;
    justify-content: space-around;
    padding: 0 71px;
    max-width: 1440px;
    
    @media (min-width: 881px) {
      align-items: baseline;
    }

    @media (max-width: 880px) {
      flex-direction: column;
      text-align: center;
      align-items: center;
      gap:20px;
    }
  }
  
  &__item{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    @media (min-width: 880px) {
      width: 33.3%;
    }
  }

  &__backicons{
    background-color: $lightblue;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 881px) {
      width: 124px;
      height: 124px;
      border-radius: 40px;
    }

    @media (max-width: 880px) {
      width: 80px;
      height: 80px;
      border-radius: 20px;
    }
    
    &--simbols{
      @media (min-width: 881px) {
        height: 69px;
        width: 50px;
      }

      @media (max-width: 880px) {
        height: 50px;
        width: 35px;
      }
    }
  }

  &__text{
    font-family: $textrel;
    text-align: center;

    @media (min-width: 881px) {
      padding: 20px;
      font-size: 26px;
      font-weight: 500;
      line-height: 28px;
    }

    @media (max-width: 880px) {
      padding: 25px 0;
      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
    }
  }
}