.features{
  background: $primarycolor;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__delivery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 73px;
    max-width: 1440px;

    @media (max-width: 880px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__item{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__backicons{
    background-color: $lightblue;
    width: 124px;
    height: 124px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 880px) {
      width: 64px;
      height: 80px;
      border-radius: 20px;

    }

    &--simbols{
      height: 69px;
      width: 50px;
      @media (max-width: 880px) {
        height: 34px;
        width: 25px;
      }
    }
  }


  &__text{
    padding-top: 20px;
    font-family: $textrel;
    font-size: 26px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;

    @media (max-width: 880px) {
      padding: 15px 0;
      font-family: $textrel;
      font-size: 16px;
      font-weight: 500;
      line-height: 14px;

    }
  }

}
