.contacts{
  background-color: $rockcolor;
  padding: 140px 60px;
  margin: 0 auto;
  position: relative;
  display: flex;

  &__logo{
    width: 76.39px;
    height: 108px;
    
    @media (max-width: 860px){
      display: none;
    }
  }

  &__information{
    display: flex;
    justify-content: space-around;
    min-width: 100%;

    @media (min-width: 781px){
      flex-direction: row;
    }

    @media (max-width: 780px) {
      flex-direction: column;
    }
  }

  &__headtitle{
      font-family: $textrel;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 28px;
      padding-bottom: 50px;
      color: $primarycolor;
  }

  &__roll{
      margin-bottom: 35px;
      font-family: $textdom;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
    }

    &__list{
      text-decoration: none;
      list-style: none;
      font-family: $primarycolor;
      font-style: normal;
  }

  &__link{
    text-decoration: none;
    color: $primarycolor;
    transition: 0.3s;
    display: inline;

    &:hover {
        opacity: 0.6;
        transition: 0.3s;
      }
    }

    &__frame{
      float: left;
      margin-right: 20px;
    }
}
