.js-carousel--simple-prev, .js-carousel--simple-next, .js-carousel--dual-prev, .js-carousel--dual-next{
  display: none;
}

.js-carousel--simple-dots{
  color: $primarycolor;
}

.glider-dot{
  z-index: 1;
  background: #585868;
  color: $primarycolor;

  @media (min-width: 781px){
    width: 24px;
    height: 24px;
  }
  
  @media (max-width: 780px){
    width: 20px;
    height: 20px;
  }
}