.journey{
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 300px;

  @media (min-width: 781px) {
    padding: 0 80px;
  }

  @media (max-width:780px) {
    padding: 0 20px;
  }

  &__title{
    font-family: $textrel;
    text-align: center;
    color: $rockcolor;
    padding-bottom: 30px;

    @media (min-width: 781px) {
      font-weight: 700;
      font-size: 72px;
      line-height: 85px;
    }

    @media (max-width: 780px) {
      font-size: 45px;
      font-weight: 700;
      line-height: 45px;
    }
  }

  &__subtitle{
    font-family: $textrel;
    text-align: center;
    font-weight: 500;

    @media (min-width: 781px) {
      font-size: 28px;
      line-height: 32px;
      padding: 30px 150px;
    }

    @media (max-width: 780px) {
      font-size: 20px;
      line-height: 28px;
      padding: 40px 0;
    }
  }

  &__timeline {
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: $textrel;
    color: $colorjourney;
  }

  &__timeline--junction{
    margin-top: -50px;
  }
  
  &__component {
    @media (min-width: 781px) {
      margin: 0 20px 20px 20px;
    }
  
    @media (max-width:780px) {
      margin: 5px 5px 5px 10px;
    }
  }

  &__component--bottom {
    margin-bottom: 0;
  }
  
  &__middle {
    position: relative;
    background-color: $colormiddle;
  }
  
  &__middle--start {
    top: 60px;
  }

  &__middle--end {
    @media (min-width: 781px) {
      height: 50%;
    }
  
    @media (max-width:780px) {
      height: 80%;
    }
  }

  &__point {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: $bluecolor;
    border-radius: 50%;
  }

  &__point--first{
    top: 0;
  }
  
  &__point--bottom {
    top: initial;
    bottom: 0;
  }
  
  &__time {
    font-family: $textrel;
    @media (min-width: 781px) {
      font-size: 50px;
    }
  
    @media (max-width:780px) {
      font-size: 30px;
    }
  }

  &__time--right{
    text-align: start;
  }
  
  &__time--left{
    text-align: end;
  }
  
  &__paragraph {
    @media (min-width: 781px) {
      font-size: 20px;
      padding-top: 30px;
    }
  
    @media (max-width:780px) {
      font-size: 15px;
      padding: 15px;
    }
  }

  &__paragraph--right {
    text-align: start;
  }

  &__paragraph--left {
    text-align: end;
  }
}