.mission{
  min-height: 150vh;
  margin: auto;
  position: relative;
  overflow-x: clip;
  background-color: $rockcolor;
  z-index: 1;

  &::before{
    background-color: $rockcolor;
    content: '';
    background-position: bottom;
    position: absolute;
    height: 20vh;
    top: -110px;
    left: 0;
    width: 120%;
    transform: rotate(-6deg);
    z-index: 0;
  }

  &::after{
    background-color: $rockcolor;
    content: '';
    background-position: bottom;
    position: absolute;
    height: 20vh;
    bottom: -90px;
    left: -60px;
    right: 0;
    width: 120%;
    transform: rotate(-6deg);
    z-index: 0;
  }

  &__legacy{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    max-width: 1440px;
    padding: 0 80px;
    z-index: 4;
  }

  &__text{
    font-family: $textrel;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: $primarycolor;
    padding-top: 200px;
  }

  &__message {
    font-family: $textrel;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: $primarycolor;
    padding: 50px 85px;
    z-index: 1;
    
  }
}