.mission{
  min-height: 100vh;
  position: relative;
  overflow-x: clip;
  background-color: $rockcolor;
  z-index: 1;

  &::after{
    background-color: $rockcolor;
    content: '';
    background-position: top;
    position: absolute;
    height: 30vh;
    top: -150px;
    left: -100px;
    transform: rotate(-8deg);
    z-index: -1;

    @media (min-width: 881px){
      width: 120%;
    }

    @media (max-width: 880px) {
      width: 150%;
    }
  }
  
  &::before{
    background-color: $rockcolor;
    content: '';
    background-position: bottom;
    position: absolute;
    right: 0;
    width: 120%;
    transform: rotate(-8deg);
    z-index: -1;

    @media (min-width:780px){
      height: 40vh;
      bottom: -200px;
      left: -100px;
    }

    @media (max-width:780px) {
      height: 50vh;
      bottom: -100px;
      left: -50px;
    }
  }

  &__legacy{
    display: flex;
    align-items: center;;
    flex-direction: column;
    padding-top: 100px;
    max-width: 1440px;
    padding: 0 80px;
    z-index: 4;
    padding: 0 80px;
    margin: 0 auto;
  }

  &__iconframe{
    width: 124px;
    height: 124px;
  }

  &__text{
    font-family: $textrel;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: $primarycolor;
    padding-top: 20px;

    @media (min-width: 881px){
      font-size: 60px;
      line-height: 70px;
    }

    @media (max-width: 880px){
      font-size: 40px;
      line-height: 50px;
    }
  }

  &__message {
    font-family: $textrel;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: $primarycolor;
    z-index: 1;

    @media (min-width: 881px){
      padding: 50px 85px 110px 85px;
      font-size: 40px;
      line-height: 47px;
    }
    
    @media (max-width: 880px){
      font-size: 25px;
      line-height: 30px;
      padding: 35px 10px;
    } 
  }
}