.mission{
  min-height: 100vh;
  position: relative;
  overflow-x: clip;
  background-color: $rockcolor;
  z-index: 1;

  &::after{
    background-color: $rockcolor;
    content: '';
    background-position: top;
    position: absolute;
    height: 30vh;
    top: -150px;
    left: -100px;
    width: 120%;
    transform: rotate(-8deg);
    z-index: -1;

    @media (max-width: 880px){
      width: 150%;
    }
  }
  
  &::before{
    background-color: $rockcolor;
    content: '';
    background-position: bottom;
    position: absolute;
    height: 40vh;
    bottom: -200px;
    left: -100px;
    right: 0;
    width: 120%;
    transform: rotate(-8deg);
    z-index: -1;
  }

  &__legacy{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    max-width: 1440px;
    padding: 0 80px;
    z-index: 4;

    padding: 0 80px;
    margin: 0 auto;
  }

  &__text{
    font-family: $textrel;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: $primarycolor;
    padding-top: 20px;

    @media (max-width: 880px){
      font-size: 50px;
      line-height: 60px;
    }
  }

  &__message {
    font-family: $textrel;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: $primarycolor;
    padding: 50px 85px 110px 85px;
    z-index: 1;
    
    @media (max-width: 880px){
      font-size: 30px;
      line-height: 37px;
      padding: 35px 10px;
    }
    
  }
}