.schedule{
  background-image: url(../assets/img/logo_conversa.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 200px;

  @media (min-width: 781px){
    background-position: 3px -200px;
    min-height: 120vh;
  }

  @media (max-width: 780px){
    background-position: 0 200px; 
    min-height: 100vh;
  }

  &__heading{
  max-width: 1440px;
  font-family: $textrel;
  font-style: normal;
  color: $rockcolor;
  font-weight: 400;
  text-align: center;
  
  @media (min-width: 781px){
    font-size: 48px;
    line-height: 56px;
  }
  
  @media (max-width: 780px) {
    font-size: 35px;
    line-height: 45px;
  }
  }

  &__bta {
      background: $bluecolor;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 20px 24px;
      gap: 10px;
      font-family: $textrel;
      font-style: normal;
      font-weight: 700;
      margin-top: 100px;
      text-decoration: none;
      color: $primarycolor;
      text-align: center;

      @media (min-width: 781px){
        font-size: 18px;
        line-height: 21px;
      }

      @media (max-width: 780px) {
        font-size: 15px;
        line-height: 15px;
      }

      &:hover {
        opacity: 0.7;
        transition: 0.3s;
      }
  }
}
