.team{
  margin-bottom: 200px;
  
  &__space{
    padding: 0 50px;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__heading{
    font-family: $textrel;
    font-style: normal;
    text-align: center;
    color: $rockcolor;
    padding-bottom: 100px;

    @media (min-width: 881px){
      font-weight: 700;
      font-size: 72px;
      line-height: 85px;
    }

    @media (max-width: 880px) {
      font-size: 45px;
      font-weight: 700;
      line-height: 45px;
    }
  }

  &__about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 0px;

    @media (min-width: 881px){
      flex-direction: row;
      align-items: baseline;
    }

    @media (max-width: 880px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__eclipse{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    @media (min-width: 880px) {
      width: 33.3%;
    }
  }

  &__name{
    font-family: $textrel;
    font-style: normal;
    padding-top: 30px;
    text-align: center;

    @media (min-width: 881px){
      font-weight: 400;
      font-size: 36px;
      line-height: 40px;
    }
    
    @media (max-width: 880px) {
      font-size: 25px;
      font-weight: 700;
      line-height: 20px;
    }
  }

  &__special{
    font-family: $textrel;
    font-style: normal;
    text-align: center;

    @media (min-width: 881px){
      font-weight: 500;
      font-size: 30px;
      padding-top: 30px;
      line-height: 32px;
    }

    @media (max-width: 880px) {
      font-size: 21px;
      font-weight: 500;
      line-height: 28px;
      padding: 40px 0;
    }
  }

  &__portrait{
    width: 200px;
    height: 200px;
  }
}