.work{
  min-height: 100vh;
  width: 1440px;
  padding: 0 80px;
  margin: auto;
  position: relative;

  &__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    font-family: $textrel;
    text-align: center;
    color: $rockcolor;
    padding-bottom: 70px;
  }

  &__back{
    background-color: $backrockcolor;
    border-radius: 20px;
  }


  &__list{
    display: flex;
    
  }

  &__photo{
    height: 338px;
    width: 322px;
    border-radius: 20px;
    mix-blend-mode: luminosity;
  }

}