.work{
  min-height: 100vh;
  max-width: 1440px;
  padding: 0 80px;
  margin: auto;
  position: relative;

  &__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    font-family: $textrel;
    text-align: center;
    color: $rockcolor;
    padding-bottom: 70px;

    @media (max-width: 780px){
      font-size: 36px;
      line-height: 42px;
    }
  }

  &__back {
    border-radius: 15px;
    text-decoration: none;
    position: relative;
  }

  &__back:not(:hover) {
    background-color: $backrockcolor;
    height: 99%;
  }

  &__list {
    display: flex;
    padding-bottom: 100px;
  }

  &__photo {
    height: 338px;
    width: 332px;
    border-radius: 20px;
    mix-blend-mode: luminosity;
    @media (max-width: 780px){
      height: 169px;
      width:161px;
      border-radius: 10px;
    }

    @media (max-width:1180px) and (min-width:780px) {
      height: 238px;
      width: 231px;
    }
  }

  &__tex{
    text-align: center;
    font-family: $textdom;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: $primarycolor;
    position: absolute;
    top: 40%;
    right: 15%;
    @media (max-width: 780px){
      font-size: 20px;
      line-height: 23px;
    }
  }

  &__texts{
    text-align: center;
    font-family: $textdom;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: $primarycolor;
    position: absolute;
    position: absolute;
    top: 40%;
    right: 0;
    @media (max-width: 780px){
      font-size: 20px;
      line-height: 23px;
    }
  }
}

.js-carousel--dual-prev, .js-carousel--dual-next{
  display: none;
}