
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Raleway&display=swap');
@import 'colors';
@import 'header';
@import 'hero';
@import 'talks';
@import 'work';
@import 'client';
@import 'schedule';
@import 'footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: $primarycolor;

  @media (max-width: 1050px) {
    overflow-x: hidden;
  }
}



