
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Raleway&display=swap');
@import 'colors';
@import 'header';
@import 'hero';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: $primarycolor;

  @media (max-width: 1050px) {
    overflow-x: hidden;
  }
}

.main-menu{
  background: $primarycolor;
  height: 75vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons{
    width: 100vw;
    margin-left: 40px ;
    margin-right: 10px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-family: $textrel;
    font-size: 20px;

    & .icons-eng, .icons-torre, .icons-predio{
        height: 142px;
    }

    & li{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

    }
}

// Nossos serviços
.carouselservices{
    height: 100vh;
    width: 100%;
    overflow: hidden;

    & h2 {
        font-size: 90px;
        font-family: $textdom;
        text-align: center;
    }

    & .services{
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin-left: 150px;
        margin-top: 50px;
    }

    & li {
        height: 338px;
        width: 322px;
        margin-left: 20px;
    }

    & img {
        height: 338px;
        width: 322px;
    }

    & button{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }


}

// Nossos clientes
.carouselclient{
    height: 100vh;
    width: 100%;
    overflow: hidden;

    & h2 {
        font-size: 90px;
        font-family: $textdom;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .client {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin-top: 100px;
        margin-left: 150px;
    }

    & li {
        font-size: 50px;
        font-family: $textdom;
        text-align: center;
    }

    & img{
        height: 400px;
        width: 1000px;
    }

    & p{
        font-size: 20px;
        font-family: $textdom;
        text-align: center;
    }

}

// Agendar
.contacts-button{
    background-image: url(../assets/img/logo_conversa.png);
    background-size: cover;
    height: 150vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h2 {
    font-family: $textrel;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 65px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;

    }

    & .contacts-button-schedule{
        background: $bluecolor;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 36px 67px;
        gap: 10px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        margin-top: 100px;
        line-height: 43px;
        text-decoration: none;
        color: $primarycolor;

        &:hover {
            opacity: 0.7;
            transition: 0.3s;
        }
    }
}

//Rodapé

.contacts-footer{
    background: rgba(0, 0, 0, 0.9);
    height: 100vh;

    & .icon-logo{
        margin-left: 56px;
        margin-top: 126px;
        position: absolute;
        height: 168.02px;
        width: 113px;
    }

    & .contacts-footer-infos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 70px;
        color: #fff;
        padding-left: 300px;
        padding-top: 130px;
        padding-right: 100px;

    }


    & h2{
        font-family: 'Domine';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        padding-bottom: 50px;
    }
    &  ul, li:not(last-child) {
        margin-bottom: 60px;
    }

    & ul, li, a{
        text-decoration: none;
        list-style: none;
        font-size: 14px;
        line-height: 17px;
        font-family: $primarycolor;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
    }

    a{
        text-decoration: none;
        color: $primarycolor;
        transition: 0.3s;
        &:hover {
            opacity: 0.6;
            transition: 0.3s;
        }
        & img{
            background: $primarycolor;
            float: left;
            border-radius: 50%;
            margin-right: 20px;
        }

    }

}
