@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Raleway:wght@400;700&display=swap");
.header {
  position: absolute;
  top: 40px;
  max-width: 1440px;
  width: calc(100% - 160px);
  margin: auto;
  left: 0;
  right: 0;
  z-index: 4; }
  .header__holder {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .header__logo {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s; }
  .header__img {
    height: 145px;
    width: 233px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
    .header__img:hover {
      opacity: 0.7;
      transition: 0.3s; }
  .header__list {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    font-family: "Raleway", sans-serif; }
    @media (max-width: 1050px) {
      .header__list {
        position: fixed;
        padding: 0;
        right: 80px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        top: 100px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in; } }
    .header__list.active::before {
      content: '';
      height: 100vh;
      position: fixed;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      right: -80px;
      top: -100px;
      z-index: -1;
      width: 280px; }
  .header__item {
    font-size: 21px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    @media (min-width: 1051px) {
      .header__item {
        margin-left: 48px; } }
    @media (max-width: 1050px) {
      .header__item {
        opacity: 0;
        margin-bottom: 20px; } }
  .header__link--cta {
    border: 3px solid #046ED0;
    border-radius: 2px;
    display: block;
    padding: 12px;
    opacity: 0.8; }
    .header__link--cta:hover {
      opacity: 1; }
  .header__link {
    color: white;
    text-decoration: none; }
    .header__link:hover {
      opacity: .85; }
    .header__link.header__link--active {
      border-bottom: 4px solid #046ED0;
      font-size: 24px; }
  .header__mobile-menu {
    display: none;
    cursor: pointer; }
    @media (max-width: 1050px) {
      .header__mobile-menu {
        display: block;
        position: fixed;
        right: 80px;
        top: 30px;
        z-index: 111; } }
  .header__menu-line {
    width: 32px;
    height: 2px;
    background: #FFF;
    box-shadow: 0px 0px 2.5px rgba(0, 0, 0, 0.8);
    margin: 8px;
    transition: 0.3s; }

.nav-list.active {
  transform: translateX(0); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px); }

.mobile-menu.active .line2 {
  opacity: 0; }

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px); }

.talks {
  background-image: url(/assets/img/capa.quem_somos.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 0 80px;
  position: relative;
  overflow: hidden; }
  .talks::after {
    background-color: #3C64A3;
    content: '';
    left: 0;
    mix-blend-mode: overlay;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1; }
  .talks::before {
    background-color: #FFFFFF;
    content: '';
    left: 0;
    bottom: -50px;
    position: absolute;
    min-width: 170%;
    height: 20vh;
    transform: rotate(-4deg);
    z-index: -1; }
  .talks__are {
    max-width: 1440px;
    margin: auto;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column; }
    @media (max-width: 780px) {
      .talks__are {
        text-align: left;
        align-items: flex-start; } }
  .talks__title {
    width: 90vw;
    font-family: "Raleway", sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 76px;
    line-height: 106px;
    font-weight: 700;
    color: #FFFFFF; }

.team {
  min-height: 100vh;
  padding: 0 50px;
  max-width: 1440px;
  margin: auto; }
  .team__heading {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    text-align: center;
    color: #2A2E49;
    padding-top: 200px; }
    @media (max-width: 880px) {
      .team__heading {
        font-family: "Raleway", sans-serif;
        font-size: 35px;
        font-weight: 700;
        line-height: 45px; } }
  .team__about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px; }
    @media (max-width: 880px) {
      .team__about {
        flex-direction: column;
        text-align: center; } }
  .team__eclipse {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px; }
  .team__name {
    font-family: "Domine", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    padding-top: 20px;
    text-align: center; }
    @media (max-width: 880px) {
      .team__name {
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 20px; } }
  .team__special {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    padding-top: 20px; }
    @media (max-width: 880px) {
      .team__special {
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        padding: 15px 0; } }
  .team__portrait {
    width: 200px;
    height: 200px; }

.journey {
  min-height: 100vh;
  max-width: 1440px;
  padding: 0 80px;
  margin: auto;
  position: relative; }
  .journey__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: #2A2E49;
    padding-bottom: 70px; }

.mission {
  min-height: 100vh;
  max-width: 1440px;
  padding: 0 80px;
  margin: auto;
  position: relative;
  overflow: hidden; }
  .mission::before {
    background-color: #2A2E49;
    content: '';
    background-position: bottom;
    position: absolute;
    height: 100vh;
    left: 0;
    width: 120%;
    transform: rotate(-5deg);
    z-index: -1; }
  .mission__slider {
    display: flex;
    flex-direction: column;
    padding-top: 5%; }
  .mission__text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 5%; }
  .mission__message {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 3%; }

.js-carousel--text-prev, .js-carousel--text-next {
  display: none; }

.js-carousel--text-dots {
  color: #FFFFFF; }

.glider-dot {
  z-index: 3;
  width: 24px;
  height: 24px;
  background: #585868;
  color: #FFFFFF; }
  @media (max-width: 780px) {
    .glider-dot {
      width: 12px;
      height: 12px; } }

.schedule {
  background-image: url(../assets/img/logo_conversa.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 3px -200px;
  min-height: 108vh;
  padding: 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 400px; }
  .schedule__heading {
    max-width: 1440px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    color: #2A2E49;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center; }
    @media (max-width: 780px) {
      .schedule__heading {
        font-size: 24px;
        line-height: 28px; } }
  .schedule__bta {
    background: #046ED0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    gap: 10px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-top: 100px;
    text-decoration: none;
    color: #FFFFFF; }
    @media (max-width: 780px) {
      .schedule__bta {
        font-size: 9px;
        line-height: 10px; } }
    .schedule__bta:hover {
      opacity: 0.7;
      transition: 0.3s; }

.contacts {
  background-color: #2A2E49;
  min-height: 60vh;
  max-width: 1440px;
  padding: 80px 60px;
  margin: auto;
  position: relative;
  display: flex; }
  .contacts__logo {
    width: 76.39px;
    height: 108px; }
    @media (max-width: 860px) {
      .contacts__logo {
        display: none; } }
  .contacts__information {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%; }
    @media (max-width: 780px) {
      .contacts__information {
        flex-direction: column; } }
  .contacts__headtitle {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 50px;
    color: #FFFFFF; }
    @media (max-width: 780px) {
      .contacts__headtitle {
        font-size: 20px;
        line-height: 24px; } }
  .contacts__roll {
    margin-bottom: 60px;
    font-family: "Domine", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px; }
    @media (max-width: 780px) {
      .contacts__roll {
        font-size: 15px;
        line-height: 17px; } }
  .contacts__list {
    text-decoration: none;
    list-style: none;
    font-family: #FFFFFF;
    font-style: normal; }
  .contacts__link {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;
    display: flex;
    align-items: center; }
    .contacts__link:hover {
      opacity: 0.6;
      transition: 0.3s; }
  .contacts__frame {
    float: left;
    margin-right: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #FFFFFF; }
  @media (max-width: 1050px) {
    body {
      overflow-x: hidden; } }

ul {
  list-style: none; }
