@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Raleway:wght@400;700&display=swap");
.header {
  position: absolute;
  top: 40px;
  max-width: 1440px;
  width: calc(100% - 160px);
  margin: auto;
  left: 0;
  right: 0;
  z-index: 4; }
  .header__holder {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .header__logo {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s; }
  .header__img {
    height: 145px;
    width: 233px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
    .header__img:hover {
      opacity: 0.5;
      transition: 0.3s; }
  .header__list {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    font-family: "Raleway", sans-serif; }
    @media (max-width: 1050px) {
      .header__list {
        position: fixed;
        padding: 0;
        right: 40px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        top: 100px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in; } }
    .header__list.active::before {
      content: '';
      height: 100vh;
      position: fixed;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      right: -40px;
      top: -100px;
      z-index: -1;
      width: 100vw; }
  .header__item {
    font-size: 21px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    @media (min-width: 1051px) {
      .header__item {
        margin-left: 48px; } }
    @media (max-width: 1050px) {
      .header__item {
        opacity: 0;
        margin-bottom: 20px; } }
  .header__link {
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9); }
    .header__link:hover {
      opacity: .70; }
  .header__link--cta {
    border-width: 3px;
    border-style: solid;
    border-radius: 2px;
    display: block;
    padding: 12px;
    opacity: 0.7; }
    @media (min-width: 1051px) {
      .header__link--cta {
        border-color: #046ED0; } }
    @media (max-width: 1050px) {
      .header__link--cta {
        border-color: #FFFFFF; } }
    .header__link--cta:hover {
      opacity: 1; }
  .header__link.is-active {
    border-bottom: 4px solid #046ED0;
    font-size: 24px; }
  .header__mobile-menu {
    cursor: pointer; }
    @media (min-width: 1051px) {
      .header__mobile-menu {
        display: none; } }
    @media (max-width: 1050px) {
      .header__mobile-menu {
        display: block;
        position: fixed;
        right: 10px;
        top: 30px;
        z-index: 111; } }
  .header__menu-line {
    width: 32px;
    height: 2px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2.5px rgba(0, 0, 0, 0.8);
    margin: 8px;
    transition: 0.3s; }

.nav-list.active {
  transform: translateX(0); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5%); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px); }

.mobile-menu.active .line2 {
  opacity: 0; }

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px); }

.hero {
  background-image: url(../assets/img/capa.home.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 0 80px;
  position: relative;
  overflow-x: clip; }
  .hero::after {
    background-color: #3C64A3;
    content: '';
    left: 0;
    mix-blend-mode: overlay;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1; }
  .hero__block {
    max-width: 1440px;
    color: #FFFFFF;
    margin: auto;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column; }
    @media (min-width: 781px) {
      .hero__block {
        text-align: center;
        align-items: center; } }
    @media (max-width: 780px) {
      .hero__block {
        text-align: left;
        align-items: flex-start; } }
  .hero__title {
    font-family: "Raleway", sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400; }
    .hero__title--bold {
      font-size: 76px;
      line-height: 106px;
      font-weight: 700; }
    @media (min-width: 781px) {
      .hero__title {
        font-size: 70px;
        line-height: 103px; } }
    @media (max-width: 780px) {
      .hero__title {
        font-size: 35px;
        line-height: 53px; } }
  .hero__copy {
    width: 60vw;
    font-weight: 400;
    font-family: "Domine", sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    @media (min-width: 781px) {
      .hero__copy {
        font-size: 32px;
        line-height: 60px; } }
    @media (max-width: 780px) {
      .hero__copy {
        font-size: 16px;
        line-height: 26px; } }
  .hero__direction {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 130%;
    transform: translate(-50%, -50%); }
    @media (min-width: 781px) {
      .hero__direction {
        display: flex; } }
    @media (max-width: 780px) {
      .hero__direction {
        display: none; } }
  .hero__arrow {
    display: block;
    width: 40px;
    height: 40px;
    border-bottom: 4px solid #FFFFFF;
    border-right: 4px solid #FFFFFF;
    transform: rotate(45deg);
    margin: -10px;
    animation: arrow 2s infinite;
    cursor: pointer; }
  .hero__arrow:nth-child(0) {
    animation-delay: -0.2s; }
  .hero__arrow:nth-child(1) {
    animation-delay: -0.4s; }

@keyframes arrow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px); } }

.features {
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px 0; }
  .features__delivery {
    display: flex;
    justify-content: space-around;
    padding: 0 71px;
    max-width: 1440px; }
    @media (min-width: 881px) {
      .features__delivery {
        align-items: baseline; } }
    @media (max-width: 880px) {
      .features__delivery {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 20px; } }
  .features__item {
    display: flex;
    align-items: center;
    flex-direction: column; }
    @media (min-width: 880px) {
      .features__item {
        width: 33.3%; } }
  .features__backicons {
    background-color: #046ED033;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 881px) {
      .features__backicons {
        width: 124px;
        height: 124px;
        border-radius: 40px; } }
    @media (max-width: 880px) {
      .features__backicons {
        width: 80px;
        height: 80px;
        border-radius: 20px; } }
    @media (min-width: 881px) {
      .features__backicons--simbols {
        height: 69px;
        width: 50px; } }
    @media (max-width: 880px) {
      .features__backicons--simbols {
        height: 50px;
        width: 35px; } }
  .features__text {
    font-family: "Raleway", sans-serif;
    text-align: center; }
    @media (min-width: 881px) {
      .features__text {
        padding: 20px;
        font-size: 26px;
        font-weight: 500;
        line-height: 28px; } }
    @media (max-width: 880px) {
      .features__text {
        padding: 25px 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px; } }

.work {
  margin: 0 auto;
  position: relative;
  margin-bottom: 300px; }
  @media (min-width: 781px) {
    .work {
      padding: 0 80px; } }
  @media (max-width: 780px) {
    .work {
      padding: 0 0 0 20px; } }
  .work__services {
    overflow: hidden; }
  .work__title {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: #2A2E49;
    padding-bottom: 70px; }
    @media (min-width: 781px) {
      .work__title {
        font-size: 72px;
        line-height: 85px; } }
    @media (max-width: 780px) {
      .work__title {
        font-size: 36px;
        line-height: 42px; } }
  .work__back {
    height: 400px !important;
    border-radius: 20px;
    margin-right: 35px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden; }
    @media (min-width: 1600px) {
      .work__back {
        height: 700px !important; } }
    @media (max-width: 690px) {
      .work__back {
        height: 250px !important;
        width: 300px !important; } }
    .work__back:not(:hover)::after {
      background-color: rgba(42, 46, 73, 0.7); }
    .work__back::after {
      background-color: transparent;
      content: '';
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
      transition: background-color linear .25s; }
    .work__back--projetos {
      background-image: url(../assets/img/projetos.png); }
    .work__back--retrofit {
      background-image: url(../assets/img/retrofit.png); }
    .work__back--reforma {
      background-image: url(../assets/img/reforma.png); }
    .work__back--laudos {
      background-image: url(../assets/img/laudos.png); }
    .work__back--consultoria {
      background-image: url(../assets/img/consultoria.png); }
  .work__text {
    text-align: center;
    font-family: "Domine", sans-serif;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    position: relative;
    z-index: 98; }
    @media (min-width: 781px) {
      .work__text {
        font-size: 40px;
        line-height: 46px; } }
    @media (max-width: 780px) {
      .work__text {
        font-size: 20px;
        line-height: 23px; } }
  .work .glider-dot.active {
    background-color: #046ED0; }

.client {
  background-color: #2A2E49;
  margin: 0 auto;
  position: relative;
  overflow-x: clip; }
  @media (min-width: 781px) {
    .client {
      min-height: 100vh; } }
  @media (max-width: 780px) {
    .client {
      min-height: 60vh; } }
  .client::before {
    background-color: #2A2E49;
    content: '';
    background-position: bottom;
    position: absolute;
    bottom: -200px;
    left: -100px;
    height: 40vh;
    width: 120%;
    transform: rotate(10deg);
    z-index: 1; }
    @media (min-width: 781px) and (max-width: 1200px) {
      .client::before {
        width: 150%; } }
    @media (max-width: 780px) {
      .client::before {
        bottom: -116px;
        left: 0;
        height: 25vh;
        width: 113%; } }
  .client__title {
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
    padding: 80px 0; }
    @media (min-width: 781px) {
      .client__title {
        font-size: 60px;
        line-height: 70px; } }
    @media (max-width: 780px) {
      .client__title {
        font-size: 30px;
        line-height: 35px; } }
  .client__list {
    color: #FFFFFF;
    z-index: 1;
    overflow: hidden; }
  .client__building {
    text-align: center; }
  .client__headline {
    font-weight: 400;
    font-family: "Domine", sans-serif;
    text-align: center;
    padding-top: 45px; }
    @media (min-width: 781px) {
      .client__headline {
        font-size: 42px;
        line-height: 48px; } }
    @media (max-width: 780px) {
      .client__headline {
        font-size: 21px;
        line-height: 24px; } }
  @media (min-width: 781px) {
    .client__picture {
      height: 400px;
      width: 1000px; } }
  @media (max-width: 780px) {
    .client__picture {
      height: 200px;
      width: 500px; } }
  .client__par {
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding: 20px 0 0; }
    @media (min-width: 781px) {
      .client__par {
        font-size: 32px;
        line-height: 38px; } }
    @media (max-width: 780px) {
      .client__par {
        font-size: 16px;
        line-height: 19px; } }
  .client .glider-dots {
    padding-top: 25px; }
  .client .glider-dot.active {
    background-color: #FFFFFF; }

.schedule {
  background-image: url(../assets/img/logo_conversa.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 200px; }
  @media (min-width: 781px) {
    .schedule {
      background-position: 3px -200px;
      min-height: 108vh; } }
  @media (max-width: 780px) {
    .schedule {
      background-position: 0 200px;
      min-height: 100vh; } }
  .schedule__heading {
    max-width: 1440px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    color: #2A2E49;
    font-weight: 400;
    text-align: center; }
    @media (min-width: 781px) {
      .schedule__heading {
        font-size: 48px;
        line-height: 56px; } }
    @media (max-width: 780px) {
      .schedule__heading {
        font-size: 35px;
        line-height: 45px; } }
  .schedule__bta {
    background: #046ED0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    gap: 10px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-top: 100px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center; }
    @media (min-width: 781px) {
      .schedule__bta {
        font-size: 18px;
        line-height: 21px; } }
    @media (max-width: 780px) {
      .schedule__bta {
        font-size: 15px;
        line-height: 15px; } }
    .schedule__bta:hover {
      opacity: 0.7;
      transition: 0.3s; }

.contacts {
  background-color: #2A2E49;
  padding: 140px 60px;
  margin: 0 auto;
  position: relative;
  display: flex; }
  .contacts__logo {
    width: 76.39px;
    height: 108px; }
    @media (max-width: 860px) {
      .contacts__logo {
        display: none; } }
  .contacts__information {
    display: flex;
    justify-content: space-around;
    min-width: 100%; }
    @media (min-width: 781px) {
      .contacts__information {
        flex-direction: row; } }
    @media (max-width: 780px) {
      .contacts__information {
        flex-direction: column; } }
  .contacts__headtitle {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    padding-bottom: 50px;
    color: #FFFFFF; }
  .contacts__roll {
    margin-bottom: 35px;
    font-family: "Domine", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px; }
  .contacts__list {
    text-decoration: none;
    list-style: none;
    font-family: #FFFFFF;
    font-style: normal; }
  .contacts__link {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;
    display: inline; }
    .contacts__link:hover {
      opacity: 0.6;
      transition: 0.3s; }
  .contacts__frame {
    float: left;
    margin-right: 20px; }

.js-carousel--simple-prev, .js-carousel--simple-next, .js-carousel--dual-prev, .js-carousel--dual-next {
  display: none; }

.js-carousel--simple-dots {
  color: #FFFFFF; }

.glider-dot {
  z-index: 1;
  background: #585868;
  color: #FFFFFF; }
  .glider-dot:hover {
    transition: 0.3s; }
  @media (min-width: 781px) {
    .glider-dot {
      width: 24px;
      height: 24px; } }
  @media (max-width: 780px) {
    .glider-dot {
      width: 20px;
      height: 20px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

html {
  scroll-behavior: smooth; }

body {
  background: #FFFFFF; }
  @media (max-width: 1050px) {
    body {
      overflow-x: hidden; } }

ul {
  list-style: none; }
