@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Raleway:wght@400;700&display=swap");
.header {
  position: absolute;
  top: 40px;
  max-width: 1440px;
  width: calc(100% - 160px);
  margin: auto;
  left: 0;
  right: 0;
  z-index: 4; }
  .header__holder {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .header__logo {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s; }
  .header__img {
    height: 145px;
    width: 233px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }
    .header__img:hover {
      opacity: 0.5;
      transition: 0.3s; }
  .header__list {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    font-family: "Raleway", sans-serif; }
    @media (max-width: 1050px) {
      .header__list {
        position: fixed;
        padding: 0;
        right: 40px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        top: 100px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in; } }
    .header__list.active::before {
      content: '';
      height: 100vh;
      position: fixed;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      right: -40px;
      top: -100px;
      z-index: -1;
      width: 100vw; }
  .header__item {
    font-size: 21px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    @media (min-width: 1051px) {
      .header__item {
        margin-left: 48px; } }
    @media (max-width: 1050px) {
      .header__item {
        opacity: 0;
        margin-bottom: 20px; } }
  .header__link {
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9); }
    .header__link:hover {
      opacity: .70; }
  .header__link--cta {
    border-width: 3px;
    border-style: solid;
    border-radius: 2px;
    display: block;
    padding: 12px;
    opacity: 0.7; }
    @media (min-width: 1051px) {
      .header__link--cta {
        border-color: #046ED0; } }
    @media (max-width: 1050px) {
      .header__link--cta {
        border-color: #FFFFFF; } }
    .header__link--cta:hover {
      opacity: 1; }
  .header__link--active {
    border-bottom: 4px solid #046ED0;
    font-size: 24px; }
  .header__mobile-menu {
    cursor: pointer; }
    @media (min-width: 1051px) {
      .header__mobile-menu {
        display: none; } }
    @media (max-width: 1050px) {
      .header__mobile-menu {
        display: block;
        position: fixed;
        right: 10px;
        top: 30px;
        z-index: 111; } }
  .header__menu-line {
    width: 32px;
    height: 2px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2.5px rgba(0, 0, 0, 0.8);
    margin: 8px;
    transition: 0.3s; }

.nav-list.active {
  transform: translateX(0); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5%); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px); }

.mobile-menu.active .line2 {
  opacity: 0; }

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px); }

.office {
  background-image: url(/assets/img/capa.services.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 0 80px;
  position: relative;
  overflow: hidden; }
  .office::after {
    background-color: #1C427E;
    content: '';
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1; }
  .office::before {
    background-color: #FFFFFF;
    content: '';
    left: 0;
    position: absolute;
    min-width: 110%;
    z-index: 2;
    transform: rotate(-4deg); }
    @media (min-width: 781px) {
      .office::before {
        height: 600px;
        bottom: -400px; } }
    @media (max-width: 780px) {
      .office::before {
        height: 250px;
        bottom: 20px; } }
  .office__blocks {
    max-width: 1440px;
    margin: auto;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column; }
    @media (min-width: 781px) {
      .office__blocks {
        text-align: center;
        align-items: center; } }
    @media (max-width: 780px) {
      .office__blocks {
        text-align: left;
        align-items: flex-start; } }
  .office__titles {
    width: max-content;
    font-family: "Raleway", sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 106px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    z-index: 1; }
    @media (min-width: 781px) {
      .office__titles {
        font-size: 76px; } }
    @media (max-width: 780px) {
      .office__titles {
        font-size: 55px; } }

.box {
  position: relative;
  max-width: 1100px;
  text-align: start;
  z-index: 4;
  background-color: #FFFFFF;
  margin: -200px auto 200px;
  padding: 40px; }
  .box__say {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400; }
    @media (min-width: 769px) {
      .box__say {
        font-size: 28px;
        line-height: 40px; } }
    @media (max-width: 768px) {
      .box__say {
        text-align: center;
        font-size: 20px;
        line-height: 30px; } }

.show__edit {
  position: relative;
  z-index: 2;
  background-color: #2A2E49;
  margin: 0 auto;
  position: relative;
  overflow-x: clip;
  margin-top: 500px;
  padding: 15px; }
  .show__edit::before {
    background-color: #2A2E49;
    content: '';
    background-position: top;
    position: absolute;
    transform: rotate(-6deg);
    z-index: -1;
    display: block;
    left: 0;
    width: 140%; }
    @media (min-width: 2000px) {
      .show__edit::before {
        top: -400px;
        height: 600px; } }
    @media (max-width: 1999px) {
      .show__edit::before {
        top: -250px;
        height: 450px; } }

.show__direction {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 150px;
  max-width: 1440px;
  margin: 0 auto; }
  @media (max-width: 880px) {
    .show__direction {
      gap: 80px; } }
  @media (min-width: 881px) {
    .show__direction {
      gap: 100px; } }
  @media (min-width: 1500px) {
    .show__direction {
      gap: 150px; } }

.show__same {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  border-radius: 10px; }
  @media (max-width: 880px) {
    .show__same {
      height: 450px;
      width: calc((85% / 1) - 10px); } }
  @media (min-width: 881px) {
    .show__same {
      width: calc((92% / 2) - 100px);
      height: 500px; } }
  @media (min-width: 1500px) {
    .show__same {
      width: calc((70% / 2) - 30px); } }
  .show__same:hover .show__backin {
    background-color: #FFFFFF;
    position: absolute;
    content: " ";
    border-radius: 10px;
    top: 0;
    height: 100%;
    transition: all .7s ease-in-out;
    overflow-y: hidden; }
  .show__same:hover .show__indent {
    display: none; }
  .show__same:hover .show__elsep {
    visibility: visible; }

.show__backin {
  height: 25%;
  top: 70%; }

@media (min-width: 881px) {
  .show__samecenter {
    margin-bottom: 0; } }

.show__pic {
  position: relative;
  width: 100%;
  height: 70%;
  border-radius: 10px 10px 0 0; }

.show__subtitle {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #2A2E49;
  margin: 20px; }
  @media (min-width: 881px) {
    .show__subtitle {
      font-size: 24px;
      line-height: 27px; } }
  @media (max-width: 880px) {
    .show__subtitle {
      font-size: 20px;
      line-height: 22px; } }

.show__indent {
  color: #2D4C7C;
  font-family: "Raleway", sans-serif;
  margin: 20px;
  font-style: normal;
  font-weight: 500; }
  @media (min-width: 881px) {
    .show__indent {
      font-size: 18px;
      line-height: 19px; } }
  @media (max-width: 880px) {
    .show__indent {
      font-size: 16px;
      line-height: 18px; } }

.show__elsep {
  color: #2D4C7C;
  font-family: "Raleway", sans-serif;
  margin: 20px;
  font-style: normal;
  font-weight: 500;
  visibility: hidden; }
  @media (min-width: 881px) {
    .show__elsep {
      font-size: 18px;
      line-height: 21px; } }
  @media (max-width: 880px) {
    .show__elsep {
      font-size: 16px;
      line-height: 18px; } }

.schedule {
  background-image: url(../assets/img/logo_conversa.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 200px; }
  @media (min-width: 781px) {
    .schedule {
      background-position: 3px -200px;
      min-height: 120vh; } }
  @media (max-width: 780px) {
    .schedule {
      background-position: 0 200px;
      min-height: 100vh; } }
  .schedule__heading {
    max-width: 1440px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    color: #2A2E49;
    font-weight: 400;
    text-align: center; }
    @media (min-width: 781px) {
      .schedule__heading {
        font-size: 48px;
        line-height: 56px; } }
    @media (max-width: 780px) {
      .schedule__heading {
        font-size: 35px;
        line-height: 45px; } }
  .schedule__bta {
    background: #046ED0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    gap: 10px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-top: 100px;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center; }
    @media (min-width: 781px) {
      .schedule__bta {
        font-size: 18px;
        line-height: 21px; } }
    @media (max-width: 780px) {
      .schedule__bta {
        font-size: 15px;
        line-height: 15px; } }
    .schedule__bta:hover {
      opacity: 0.7;
      transition: 0.3s; }

.contacts {
  background-color: #2A2E49;
  padding: 140px 60px;
  margin: 0 auto;
  position: relative;
  display: flex; }
  .contacts__logo {
    width: 76.39px;
    height: 108px; }
    @media (max-width: 860px) {
      .contacts__logo {
        display: none; } }
  .contacts__information {
    display: flex;
    justify-content: space-around;
    min-width: 100%; }
    @media (min-width: 781px) {
      .contacts__information {
        flex-direction: row; } }
    @media (max-width: 780px) {
      .contacts__information {
        flex-direction: column; } }
  .contacts__headtitle {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    padding-bottom: 50px;
    color: #FFFFFF; }
  .contacts__roll {
    margin-bottom: 35px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px; }
  .contacts__list {
    text-decoration: none;
    list-style: none;
    font-family: #FFFFFF;
    font-style: normal; }
  .contacts__link {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;
    display: inline; }
    .contacts__link:hover {
      opacity: 0.6;
      transition: 0.3s; }
  .contacts__frame {
    float: left;
    margin-right: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }
