---
title: "Home"
layout: "base.html"
---

section.hero
  include /components/header.pug
  .hero__block
    h1.hero__title Somos a #{''}
      strong Forte Engenharia
    p.hero__copy Atendemos seu condomínio com qualidade e profissionalismo durante todas fases da sua reforma.
section.main-menu
  ul.icons
    li.icons-eng Planejamento com alto profissionalismo
      img(src='/assets/svg/eng.svg')
    li.icons-torre Construção de qualidade do início ao fim..
      img(src='/assets/svg/torre.svg')
    li.icons-predio Entregas eficientes e seguras.
      img(src='/assets/svg/predio.svg')
section.carouselservices
  h2
    b Nossos Serviços
  ul.services
    li
      a(href='/')
        img(src="/assets/img/projetos.png")
    li
      a(href='/')
        img(src="/assets/img/retrofit.png")
    li
      a(href='/')
        img(src="/assets/img/reforma.png")
    li
      a(href='/')
        img(src="/assets/img/laudos.png")
    li
      a(href='/')
        img(src="/assets/img/consultoria.png")
  button(aria-label='Anterior') <<
  button(aria-label='Próximo') >>
  div(role='tablist')
section.carouselclient
  h2
    b Nossos Clientes
  ul.client
    li Edifício Ópera Prima
      a(href='/')
        img(src="/assets/img/opera.png")
      p
        b Serviços:
        |  Retrofit da fachada junto com a reforma da guarita.
    li Edifício Golden Park
      a(href='/')
        img(src="/assets/img/golden.png")
      p
        b Serviço:
        | ELABORAÇÃO DE PROJETOS PARA HALL DOS ELEVADORES / ELABORAÇÃO PROJETO PARA SALÃO GOURMET.
    li Edifício Solar D’ América
      a(href='/')
        img(src="/assets/img/solar.png")
      p
        b Serviço:
        | Reforma da fachada.
    li Edifício Caravelas
      a(href='/')
        img(src="/assets/img/caravelas.png")
      p
        b Serviço:
        | ASSESSORIA COM ACOMPANHAMENTO TÉCNICO.
  button(aria-label='Anterior') <<
  button(aria-label='Próximo') >>
  div(role='tablist')
section.contacts-button
  h2
    | Começe sua
    b reforma
    |  com a qualidade e profissionalismo da
    b Forte Engenharia
  a.contacts-button-schedule(href='/') Agende uma conversa

include /components/footer.pug
